* {
  box-sizing: border-box;
}

.PageView {
  height: 100%;
  width: calc(100vw - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  overflow: hidden;
}

.description {
  width: 500px;
  color: white;
  opacity: 0.9;
}

.left-side {
  width: 100%;
  padding-left: 50px;
}

.right-side {
  width: 100%;
  padding-right: 50px;
}
