.NavButton{
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 80px;
  border: 0;
}

.NavButton:hover {
  background-color: crimson;
  cursor: pointer;
}

.NavButton:focus,
.NavButton:target{
  outline: none;
  border: 0;
  background-color: crimson;
}

.NavButton ion-icon {
  font-size: 1.3em;
  margin-right: 10px;
  color: #ddd;
  transition: color 0.2s;
}

.NavButton .item-name {
  color: #ddd;
}

.NavButton .item-name:active {
  background-color: crimson;
}



