.Skills.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}

.skills-icons {
  height: 17vh;
  color: white;
}

.skills-icons:hover {
  transform: rotate(-20deg)
}