.Skills.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}

.Skills .skills-icons {
  height: 17vh;
  color: white;
  animation-duration: 1.2s
}

@media all and (max-width: 575px) {
  .Skills .skills-icons {
    height: 70px;
  }

  .Skills.grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}