.About {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.About p{
  width: 500px;
  color: white;
  opacity: 0.9;
}

.right-side .profile-image {
  width: 60vh;
  animation-duration: 1.5s;
}