.Contact-form {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  animation-duration: 1s;
}

.Contact-form input,
.Contact-form textarea {
  padding: 10px;
  font-size: 1.2em;
  color: #ddd;
  border: none;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
  background-color: transparent;
  border-radius: 0 0 0 5px;
}


.Contact-form input {
  width: 65%;
  margin-bottom: 20px;
}

.Contact-form textarea {
  width: 85%;
  height: 150px;
  min-height: 20px;
  max-height: 150px;
  margin-bottom: 20px;
  resize: none;
}

.Contact-form input:focus,
.Contact-form textarea:focus,
.Contact-form button {
  outline: none;
}

.Contact-form button {
  width: 150px;
  padding: 5px;
  font-size: 1.2em;
  background-color: crimson;
  border: 0;
  color: #ddd;
  border-radius: 50px;
  justify-self: flex-end;
  transition: background-color 0.2s;
}

.Contact-form button:hover {
  cursor: pointer;
  background-color: hsla(348, 83%, 47%, 0.9);
}