.Contact-form {
  display: flex;
  flex-direction: column;
  animation-duration: 1s;
}

.Contact-form input,
.Contact-form textarea {
  padding: 10px;
  font-size: 1.2em;
  color: #ddd;
  border: none;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
  background-color: transparent;
  border-radius: 0 0 0 5px;
}


.Contact-form input {
  width: 85%;
  margin-bottom: 20px;
}

.Contact-form textarea {
  height: 150px;
  min-height: 20px;
  max-height: 150px;
  margin-bottom: 20px;
  resize: none;
}

.Contact-form input:focus,
.Contact-form textarea:focus,
.Contact-form button {
  outline: none;
}

.Contact-form button {
  width: 150px;
  padding: 5px;
  font-size: 1.2em;
  background-color: crimson;
  border: 0;
  color: #ddd;
  border-radius: 50px;
  justify-self: flex-end;
  transition: background-color 0.2s;
}

.Contact-form button:hover {
  cursor: pointer;
  background-color: #db143ce6;
}

.ctaButtons {
  margin-top: 20px;
}

.linkBtn {
  position: relative;
  padding: 8px 40px;
  margin-right: 20px;
  color: #ddd;
  border: 1px solid #7aeec7;
  border-radius: 100px;
}
