.NavigationBar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;

  height: 100vh;
  background-color: #181818;
  overflow: hidden;
}

.NavigationBar a:focus{
  background-color: #dc143c;
}